@font-face {
    font-family: 'Pacifico';
    src: url(/Fresh-life-project/assets/fonts/pacifico/Pacifico.ttf);
}

.header {
  height: 130px;
  padding: 0 60px;
}
.header__logo {
    font-family: 'Pacifico', sans-serif;
    font-size: 35px;
}
.nav__btn, .nav__btn-link {
    font-family: 'Raleway', serif;
    font-weight: 600;
    padding-top: 5px;
    border-top: 3px solid transparent;
    color: #000000;
    text-transform: uppercase;
    transition: ease-in-out .2s;
}
.nav__btn:hover{
    border-top: 3px solid #ff6033;
}
.nav__btn-link:hover {
    color: #000000;
}
.main-banner {
    padding: 0 60px;
    margin-top: 150px;
    font-family: 'Raleway', serif;
}
.main-banner__header {
    font-size: 50px;
    font-weight: 800;
}
.main-banner__subheader {
    margin-top: 20px;
    font-weight: 300;
}
.main-banner__btn {
    font-weight: 300;
    border: none;
    padding: 10px 15px;
    background-color: #ff6033;
    color: #ffffff;
    box-shadow: 2px 2px 4px #9a9a9c;
}
.main-banner__icon {
    margin: 200px auto 40px;
}
.main-banner__bg-img {
    top: -150px;
    z-index: -1;
}
.about-us {
    background-color: #00C4C4;
    color: #ffffff;
    font-family: 'Raleway', serif;
}
.about-us__header {
    font-size: 50px;
    font-weight: 800;
}
.about-us__description {
    font-weight: lighter;
    font-size: 14px;
}
